<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{{skinRepo}}}/tool_base.css" />
        <link rel="stylesheet" type="text/css" href="/sakai-content-tool/styles/google-drive.css" />

        {{{randomSakaiHeadStuff}}}
    </head>
    <body>

        <div class="portletBody drive-body">
            {{{subpage this "body"}}}
        </div>
    </body>
</html>
