/* *************************************************************** *
 *                      Gradebook Tool styles                      *
 * *************************************************************** */
 
/* Fonts */
@font-face {
  font-family:"gradebook-icons";
  src:url(../fonts/gradebook-icons.eot);
  src:url(../fonts/gradebook-icons.eot?#iefix) format("embedded-opentype"),url(../fonts/gradebook-icons.woff) format("woff"),url(../fonts/gradebook-icons.ttf) format("truetype"),url(../fonts/gradebook-icons.svg#gradebook-icons) format("svg");
  font-weight:400;
  font-style:normal;
}
 
 /* style applied to the UL rendered for a feedback panel */
 ul.feedbackPanel {
 	list-style-type: none;
 	margin: 0;
 }
 ul.feedbackPanel li span {
   display: block;
 }
 
 /* Bootstrap > Morpheus overrides */
 .dropdown-menu>li>a,
 .nav>li>a {
   text-decoration: none;
 }
 .checkbox input[type="checkbox"][disabled],
 .radio input[type="radio"][disabled]{
   background-color: #eee;
 }
 .checkbox input[type="checkbox"][disabled]+span,
 .radio input[type="radio"][disabled]+span,
 .checkbox input[type="checkbox"][disabled]+label,
 .radio input[type="radio"][disabled]+label{
   color: #999;
 }

/* required labels should have a prefix asterisk */
.control-label.required:before {
  content: '*';
}

/* Flags */
[class*="gb-flag"] {
  color: #999;
  font-family: 'gradebook-icons';
  display: inline-block;
  min-width: 16px;
  text-align: center;
  font-style: normal;
}
.gb-flag-not-counted:before {
  content: '\e600';
}
.gb-flag-not-released:before {
  content: '\e601';
}
.gb-flag-not-released:before {
  content: '\e601';
}
.gb-flag-counted,
.gb-flag-released {
  display: none;
}
.gb-flag-extra-credit:before {
  content: '\f0fe';
  color: rgb(200,144,0);
}
.gb-flag-external:before {
  content: '\f045';
}
.gb-flag-read-only:before {
  content: '\f023';
}
.gb-flag-comment:before {
  font-family: "gradebook-icons";
  content: '\f075';
}