<p class="alert alert-info">
  This site is a Collaborative Site.  You can combine multiple rosters from other sites by selecting them below.
</p>

<form name="typeform" id="typeform" action="#toolForm("$action")&special=upload" method="post">
  <input type="hidden" name="templateIndex" value="10099">
  <input type="hidden" name="eventSubmit_doAddCollaborativeRoster" value="x">
  <input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
  <input type="hidden" name="continue" value="43" />
  <button class="active" type="submit" onclick="SPNR.disableControlsAndSpin( this, null );">Add Roster(s)</button>
</form>

<script src="/sakai-site-manage-tool/js/nyu-collab-sites.js"></script>
<script>
  $(function() {
    new window.NYUCollabSiteRosterForm($("#typeform"), "$!siteId");
  });
</script>
