<?xml version="1.0" encoding="UTF-8"?>
<web-app id="syllabus-feed" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>syllabus-feed</display-name>
    <description>syllabus-feed</description>

    <servlet>
      <servlet-name>syllabus.feed</servlet-name>
      <servlet-class>edu.nyu.classes.syllabusfeed.SyllabusFeedServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
     <servlet-name>syllabus.feed</servlet-name>
     <url-pattern>/*</url-pattern>
   </servlet-mapping>
</web-app>
