<div class="commons-edit">
    <div class="commons-dialog-container">
        <form id="commons-edit-form">
            <fieldset>
                <label for="commons-title">Title:</label>
                <input type="text" id="commons-title" required>
            </fieldset>

            <input type="submit" id="commons-edit-update-button" value="Update Options"/>
            <button id="commons-edit-cancel-button">Cancel</button>
        </form>
    </div>
</div>