<textarea id="commons-inplace-post-editor-{{postId}}" style="width: 100%; resize: none">{{{content}}}</textarea>
<div>
    <button id="commons-inplace-post-editor-post-button-{{postId}}">Post</button>
    <button onclick="commons.utils.cancelPostEdit('{{postId}}');">Cancel</button>
    <span class="commons-comment-help-text"><small><code><span class="mac-only">Cmd</span><span class="pc-only">CTRL</span> + Return</code> to Post</small></span>
</div>
