.pasystem-banner-alerts,
.modal,
footer,
nav,
button,
hr,
a {
  display: none !important;
}

.seat-assignment-widget * {
    width: auto !important;
    min-width: auto !important;
}

.seats-body table th {
    text-align: left;
}
