@font-face {
  font-family: 'nyu-classes-icons';
  src:  url('../fonts/nyu-classes-icons/nyu-classes-icons.eot?version=1597782673');
  src:  url('../fonts/nyu-classes-icons/nyu-classes-icons.svg?version=1597782673#nyu-classes-icons') format('svg'),
    url('../fonts/nyu-classes-icons/nyu-classes-icons.eot?version=1597782673#iefix') format('embedded-opentype'),
    url('../fonts/nyu-classes-icons/nyu-classes-icons.woff?version=1597782673') format('woff'),
    url('../fonts/nyu-classes-icons/nyu-classes-icons.ttf?version=1597782673') format('truetype');
  font-weight: normal;
  font-style: normal;
}